<template lang="">
  <div>
    <div class="mt-10 sm:mt-0">
      <div class="md:grid md:grid-cols-3 md:gap-6">
        <div class="md:col-span-1">
          <div class="px-4 sm:px-0">
            <h3 class="text-lg font-medium leading-6 text-gray-900">Your pokemon</h3>
            <div v-if="Object.keys(pokemon).length > 0">
              <p class="mt-1 text-sm text-gray-600">
                {{ pokemon.species.name }}
              </p>
              <img :src="pokemon.sprites.front_default" />
            </div>
            <p v-else>Aun no busca ningun pokemon</p>
          </div>
        </div>
        <div class="mt-5 md:mt-0 md:col-span-2">
          <form @submit.stop.prevent="changeName">
            <div class="shadow overflow-hidden sm:rounded-md">
              <div class="px-4 py-5 bg-white sm:p-6">
                <div class="grid grid-cols-1">
                  <div class="col-span-6 sm:col-span-3">
                    <label for="pokemon" class="block text-sm font-medium text-gray-700">Pokemon</label>
                    <input v-model="name" type="text" name="pokemon" id="pokemon" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                  </div>
                </div>
              </div>
              <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
                <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                  Save
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'CardTest',
  data() {
    return {
      name: ''
    }
  },
  computed: {
    pokemon () {
      return this.$store.getters.getPokemon
    }
  },
  methods: {
    async changeName () {
      await this.$store.dispatch('getYourPokemon', this.name)
      this.name = ''
    }
  },
}
</script>
<style lang="">
</style>