<template lang="">
  <div>
    <FormTest />
    <CardTest />
  </div>
</template>
<script>
import FormTest from '@/components/Forms/Test'
import CardTest from '@/components/Cards/Test'
export default {
  components: {
    FormTest,
    CardTest
  }
}
</script>
<style lang="">
</style>
