<template>
  <div id="app">
    <InApp>
      <template v-slot:content>
        <router-view />
      </template>
    </InApp>
  </div>
</template>

<script>
import InApp from './layout/InApp'
export default {
  name: 'App',
  components: {
    InApp
  }
}
</script>

<style>
</style>
