<template lang="">
  <div>
    <NavBar />
    <slot name="content" />
  </div>
</template>
<script>
import NavBar from './NavBar'
export default {
  name: 'InApp',
  components: {
    NavBar
  }
}
</script>
<style lang="">
</style>
